ion-icon {
    font-size: 40px;
}

.title {
    font-size: 18px;
}

.searchbar-input.sc-ion-searchbar-md {
    box-shadow: none;
    -webkit-box-shadow: none;
}

.sc-ion-searchbar-md-h {
    --box-shadow: none;
}