<ion-header>
    <ion-toolbar>
        <ion-title>Reservaciones</ion-title>
        <button slot="end" (click)="signout()" style="background-color: inherit; margin-left: 12px">
            <ion-icon style="font-size: 30px;" name="log-out-outline"></ion-icon>
        </button>
    </ion-toolbar>
</ion-header>

<ion-content>
    <ion-list>
        <h2 class="ion-text-center ion-padding title">Lista de Reservaciones</h2>
        <ion-card>
            <div [formGroup]="form">
                <ion-searchbar placeholder="BookingId" formControlName="id" (ionChange)="search($event, 'bookingId')"></ion-searchbar>
                <ion-searchbar placeholder="Precio" formControlName="price" (ionChange)="search($event, 'bookingPrice')"></ion-searchbar>
                <!-- <ion-item>
                    <ion-label position="floating">Opción</ion-label>
                    <ion-select formControlName="option" (ionChange)="search($event)">
                        <ion-select-option value="like">Like</ion-select-option>
                        <ion-select-option value="greaterThan">>=</ion-select-option>
                        <ion-select-option value="lessThan"><=</ion-select-option>
                    </ion-select>
                </ion-item> -->
            </div>
        </ion-card>

        <ion-item *ngFor="let booking of bookings | filter: textSearch: fieldSearch">
            <ion-avatar slot="end">
                <ion-icon (click)="presentModal(booking)" name="add-outline"></ion-icon>
            </ion-avatar>
            <ion-label>
                <h2>BookingId: {{ booking.bookingId }} </h2>
                <h3>Cliente: {{ booking.tutenUserClient.firstName }} {{ booking.tutenUserClient.lastName }} </h3>
                <p>Precio: {{ booking.bookingPrice }} </p>
            </ion-label>
        </ion-item>

    </ion-list>
</ion-content>