<ion-header>
    <ion-toolbar>
        <ion-title>Detalles de la Reservación</ion-title>
        <button slot="end" style="background-color: inherit; margin-left: 12px">
            <ion-button slot="end" (click)="dismissModal()" fill="clear" color="primary">Cerrar</ion-button>
        </button>
    </ion-toolbar>
</ion-header>

<ion-content>
    <ion-list>
        <ion-item>
            BookingId:
        </ion-item>
        <ion-item>
            Cliente:
        </ion-item>
        <ion-item>
            Fecha de Creación:
        </ion-item>
        <ion-item>
            Dirección:
        </ion-item>
        <ion-item>
            Precio:
        </ion-item>
    </ion-list>
</ion-content>